<!Doctype html>
	<html lang="en>
		<head>
			<meta name="author" content="Samuel Akintola">
			<meta charset="UTF-8">
			<meta name="description" content="This webpage is for practicing">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<style>
				* {
				background: black;
				color: white;
				}
			</style>
		</head>
		
		<body>
			<header>
				<h1>Just for Fun!<h1/>
			</header>
			
			<main>
				<p>timer: {{ countdown }}</p>
				<form>
					<input type="text" autocomplete="on" placeholder="Enter Name" requiredp>
					<button type="submit">Submit</button>
				</form>
			</main>
			
			<footer>
				<p>&copy; <a href="">Akintola Samuel</a> 2026. All Rights Reserved.</p>
			</footer>
		</body>
	</html>