<!DOCTYPE html>

<html>
<head>
				<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
				<meta name="author" content="Samuel Akintola">
				<meta name="description" content="This page is the home page for the manager">
				<link rel="icon" href="" type="image/x-icon">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" href="{{ url_for('static', filename='sub_admin.css') }}" type="text/css">
				<title>Client Management</title>
</head>
<body>
				{% with messages = get_flashed_messages(with_categories=True) %}
				    {% if messages %}
								    <ul class="flashes">
								        {% for category, message in messages %}
								        				<li class="{{ category }}">{{ message }}</li>
								        {% endfor %}
								    </ul>
				    {% endif %}
    {% endwith %}
				<header>
				<h1>
								{{ business_name }}
				</h1>
				</header>
				
				<hr>
				
				<main>
								<article>
												<h2>
												{{ current_time }} {{ first_name }}!
								</h2>
												<section>
												<h3>What do you want to do today?</h3>
												<ul>
																<li><a href="{{ url_for('add_client') }}">Add Client</a></li>
																<li><a href="{{ url_for('refer') }}">Referral Program</a></li>
																<li><a href="{{ url_for('view_client') }}">View Clients</a></li>
																<li><a href="{{ url_for('add_to_info') }}">Add to Information</a></li>
																<li><a href="#">Make Payment</a></li>
																<li><a href="#">Remove Client</a></li>
																<li><a href="#">Referral History</a></li>
												</ul>
												</section>
								</article>
				</main>
				
				<hr>
				
					<footer>
									<p><a href="{{ url_for('logout') }}">Log out</a></p>
								<p><a href="{{ url_for('feedback', mode='dashboard') }}" target="_blank">Send feeback</a></p>
								<p>&copy; <a href="{{ url_for('aboutme') }}"  target="_blank">Samuel Akintola</a> 2025. All right reserved.</p>
				</footer>
</body>
</html>
