<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <meta name="author" content="Samuel Akintola">
  <meta name="description" content="This is the homepage
    for my laundry service business">
  <title>Samihello Laundry Services</title>
  <link rel="icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="../static/main.css" type="text/css">
</head>
<body>
  <main>
    <h1>Samihello Laundry Services</h1>
    <p>Fast | Quality | Affordable</p>
  
    <header>
      <nav>
        <a href="#our_service">Our Services</a>
        <a href="">Book a Service</a>
        <a href="#contact">Contact Info</a>
      </nav>
    </header>
    
    <section id="our_service">
      <h2>Our Services</h2>
      <p>Hi there! Here in <strong>Samihello Laundry Services</strong>,
      we provide an easy solution for your laundry items with care, and 
      quality washing ingredients.</p>
  
      <h3>We offer</h3>
      <ul>
        <li>Easy and Affordable Solution For Your Laundries.</li>
        <li>Quality Care for Clothes and House-Wears.</li>
        <li>Pick and Dropout for Client Convenience.</li>
        <li>Referral Discounts.</li>
      </ul>
      
      <h3>Laundry Categories</h3>
      <ul>
        <li>Casual Wear: Polos, Joggers, Trousers</li>
        <li>Occasional Wear: T-shirts, jeans, Ankara, Agbada</li>
        <li>Formal Wear: Suits, garments</li>
        <li>Uniforms: Work uniforms, school uniforms</li>
        <li>Sportswear: Athletic wear</li>
        <li>Towels: Bath towels, kitchen towels, etc.</li>
        <li>Household Items: Curtains, bed sheets, and other home textiles</li>
        <li>Footmats and Shoes</li>
      </ul>
      <a href="">See more</a>
    </section>
    
    <!-- Promo banner -->
  <section id="promo">
    <p>Why waste time with laundry when we can do that for you.</p>
  </section>
    
    <section id="contact">
      <h2>Contact Information</h2>
      <h3>Reach Out with Any of the Contacts</h3>
      <ul>
        <li>Shop Address: <a href=""><address>No 11 Okesolo Street Igede Ekiti</address></a></li>
        <li>Phone Number: <a href="tel:+2349069123150">09069123150</a></li>
        <li>WhatsApp: <a href="https://wa.me/message/JRHVPIKT7ADEB1" target="_blank">@Samihello_laundry</a></li>
        <li>Email Address: <a href="mailto:akintolasamuel30@gmail.com">akintolasamuel30@gmail.com</a></li>
      </ul>
    </section>
  </main>

  <footer>
    &copy; Samuel Akintola 2025. All Rights Reserved
  </footer>
</body>
</html>